 <section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stay In Touch!</h2>
                <p>Subscribe and get informed of our latest updates and features!</p>
				 <form action="https://docs.google.com/document/d/1iEKOuXg6MeOGSNLybjZuAVQm21Ntw56aUIBHlJ7G75k/edit?usp=sharing" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="subscribe-form">
					<input type="email" name="EMAIL" id="mce-EMAIL" class="subscribe-input" placeholder="e-mail address..."  required>
						<button type="submit" class="subscribe-submit" name="subscribe" id="mc-embedded-subscribe" >Subscribe</button>
				</form> 
				<hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p></p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://facebook.com/">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p></p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:">
            <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p></p>
            </a>
        </div>

    </div>
</section>
