<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>NiteMateApp</h1>
            <hr>
            <p>Discover your nightlife by finding events and venues near you!</p>
			<p><b>Available for free</b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"><img src = "/img/app-store-logo.png" ></a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"><img src = "/img/google-play-logo.png" ></a>
        </div>
    </div>
</header>
