<body>	
	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1>NiteMate</h1>
				<img src="/img/iPhone_landing.png" alt="iPhone6" style="width:300px;height:337px;"> 
				<p>
				<a href="#about" class="btn page-scroll"><img src = "/img/app-store-logo.png"></a>
				<a href="#about" class="btn page-scroll"><img src = "/img/google-play-logo.png"></a>
				<p>
				 <form action="" method="post" id="download-link-form" name="download-link-form" target="_blank" novalidate class="subscribe-form">
					<input type="Phone Number" name="Phone Number" id="mce-EMAIL" class="subscribe-input" placeholder="Phone number..."  required>
						<button type="submit" class="Send-link" name="Send-link" id="mc-embedded-subscribe" >Send Download Link</button>
				</form> 
			</div>
		</div>
	</header>
</body>