<!DOCTYPE html>
<html>
<head>
	<title>Nitemate website slideshow</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Http://wowslider.com/" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine0/style.css" />
	<script type="text/javascript" src="engine0/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:0">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container0">
	<div class="ws_images"><ul>
		<li><img src="data0/images/gansevoort_bar.jpg" alt="Gansevoort Bar" title="Gansevoort Bar" id="wows0_0"/></li>
		<li><img src="data0/images/gansevoort_rooftop_bar.jpg" alt="Gansevoort Rooftop" title="Gansevoort Rooftop" id="wows0_1"/></li>
		<li><a href="http://wowslider.net"><img src="data0/images/marquee_nyc.jpg" alt="wowslider.net" title="Marquee NYC" id="wows0_2"/></a></li>
		<li><img src="data0/images/rooftop1.jpg" alt="Rooftop" title="Rooftop" id="wows0_3"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Gansevoort Bar"><span><img src="data0/tooltips/gansevoort_bar.jpg" alt="Gansevoort Bar"/>1</span></a>
		<a href="#" title="Gansevoort Rooftop"><span><img src="data0/tooltips/gansevoort_rooftop_bar.jpg" alt="Gansevoort Rooftop"/>2</span></a>
		<a href="#" title="Marquee NYC"><span><img src="data0/tooltips/marquee_nyc.jpg" alt="Marquee NYC"/>3</span></a>
		<a href="#" title="Rooftop"><span><img src="data0/tooltips/rooftop1.jpg" alt="Rooftop"/>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">http://wowslider.com/</a> by WOWSlider.com v8.6</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine0/wowslider.js"></script>
	<script type="text/javascript" src="engine0/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>